*{
    margin: 0;
    padding: 0;
    transition: all .3s ease-in-out;
}
html,body{
    width: 100%;
    background-color: #1a1a1a;
}
/* 头 */
header{
    margin: 0 auto;
    width: 90%;
    padding: 70px 0;
}
header h1{
    font-size: 23px;
    font-weight: 700;
}
header .header-info{
    margin-top: 5px;
    font-size: 13px;
    font-weight: 400;
    color: #91937c;
}
/* 脚 */
footer{
    padding: 50px;
}

/* 媒体查询 */
/* 大屏幕pc */
@media screen and (min-width: 1200px) {
    .wrap{
        margin: 0 auto;
        width: 70%;
        box-sizing: border-box;
        background-color: #fff;
    }
    /* 内容模块 */
    .content{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    /* 搜索结果 */
    .search-section{
        width: 0;
        overflow: hidden;
    }
    /* 文章列表 */
    .list-section{
        list-style: none;
        width: 70%;
    }
    .list-item{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 60px 0;
        /* border-top: 3px dashed rgba(0,0,0,.4); */
    }
    .list-item h2{
        width: 100%;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .list-item .options{
        width: 30%;
        color: #686868;
    }
    .list-item .options a{
        margin-top: 1vw;
        font-size: 13px;
        display: block;
        color: #686868;
        text-decoration: none;
    }
    .list-item .options a:hover{
        cursor: pointer;
        color: #94daf3;
        text-decoration: underline;
    }
    .list-item .list-item-content{
        line-height: 1.75;
        width: 70%;
        min-height: 10vw;
        font-size: 16px;
        font-weight: 400;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        overflow: hidden;
    }
    /* 分页 */
    .page-control{
        padding: 0;
    }
    .page-control .pages{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .page-control li{
        width: 10%;
        text-align: center;
        padding: 20px 0;
        opacity: .6;
    }
    .page-control li:hover{
        cursor: pointer;
        opacity: 1;
        box-shadow: 0 5px 1px #999;
    }
    .page-control li .on{
        cursor: pointer;
        width: 10%;
        text-align: center;
        padding: 20px 0;
    }

    /* 右边栏 */
    .side-section{
        width: 25%;
    }
    .side-section div{
        border-top: 4px solid #1a1a1a;
        padding: 20px 0 70px 0;
    }
    .side-section ul{
        list-style-position: inside;
        margin-top: 20px;
    }
    .side-section ul li{
        list-style-position: inside;
        margin-top: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: .8em;
    }
    .side-section a{
        color: #6791ee;
        text-decoration: none;
    }
    /* 侧边栏搜索框 */
    .side-section .input-search{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-search input{
        display: block;
        padding: 7px 6px;
        border: 1px #cbcbcb solid;
        width: 100%;
        height: 20px;
    }
    .input-search img{
        display: block;
        width: 24px;
        background-color: #fff;
        padding: 12px;
    }
}
/* pc */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .wrap{
        margin: 0 auto;
        width: 95%;
        box-sizing: border-box;
        background-color: #fff;
    }
    /* 内容模块 */
    .content{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    /* 搜索结果 */
    .search-section{
        width: 0;
        overflow: hidden;
    }
    /* 文章列表 */
    .list-section{
        list-style: none;
        width: 70%;
    }
    .list-item{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 60px 0;
        /* border-top: 3px dashed rgba(0,0,0,.4); */
    }
    .list-item h2{
        width: 100%;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .list-item .options{
        width: 30%;
        color: #686868;
    }
    .list-item .options a{
        margin-top: 1vw;
        font-size: 13px;
        display: block;
        color: #686868;
        text-decoration: none;
    }
    .list-item .options a:hover{
        cursor: pointer;
        color: #94daf3;
        text-decoration: underline;
    }
    .list-item .list-item-content{
        line-height: 1.75;
        width: 70%;
        min-height: 10vw;
        font-size: 16px;
        font-weight: 400;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        overflow: hidden;
    }
    /* 分页 */
    .page-control{
        padding: 0;
    }
    .page-control .pages{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .page-control li{
        width: 10%;
        text-align: center;
        padding: 20px 0;
        opacity: .6;
    }
    .page-control li:hover{
        cursor: pointer;
        opacity: 1;
        box-shadow: 0 5px 1px #999;
    }
    .page-control li .on{
        cursor: pointer;
        width: 10%;
        text-align: center;
        padding: 20px 0;
    }
    /* 右边栏 */
    .side-section{
        width: 25%;
    }
    .side-section div{
        border-top: 4px solid #1a1a1a;
        padding: 20px 0 70px 0;
    }
    .side-section ul{
        list-style-position: inside;
        margin-top: 20px;
    }
    .side-section ul li{
        list-style-position: inside;
        margin-top: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: .8em;
    }
    .side-section a{
        color: #6791ee;
        text-decoration: none;
    }
    /* 侧边栏搜索框 */
    .side-section .input-search{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-search input{
        display: block;
        padding: 7px 6px;
        border: 1px #cbcbcb solid;
        width: 100%;
        height: 20px;
    }
    .input-search img{
        display: block;
        width: 24px;
        background-color: #fff;
        padding: 12px;
    }
}
/* pad */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrap{
        margin: 0 auto;
        width: 95%;
        box-sizing: border-box;
        background-color: #fff;
    }
    /* 内容模块 */
    .content{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    /* 搜索结果 */
    .search-section{
        width: 0;
        overflow: hidden;
    }
    /* 文章列表 */
    .list-section{
        list-style: none;
        width: 100%;
    }
    .list-item{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 60px 0;
        /* border-top: 3px dashed rgba(0,0,0,.4); */
    }
    .list-item h2{
        width: 100%;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .list-item .options{
        width: 30%;
        color: #686868;
        padding: 0 0 1vw;
    }
    .list-item .options a{
        margin-top: 1vw;
        font-size: 13px;
        display: block;
        color: #686868;
        text-decoration: none;
    }
    .list-item .options a:hover{
        cursor: pointer;
        color: #94daf3;
        text-decoration: underline;
    }
    .list-item .list-item-content{
        line-height: 1.75;
        width: 70%;
        min-height: 10vw;
        font-size: 16px;
        font-weight: 100;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        overflow: hidden;
    }
    /* 分页 */
    .page-control{
        padding: 0;
    }
    .page-control .pages{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .page-control li{
        width: 10%;
        text-align: center;
        padding: 20px 0;
        opacity: .6;
    }
    .page-control li:hover{
        cursor: pointer;
        opacity: 1;
        box-shadow: 0 5px 1px #999;
    }
    .page-control li .on{
        cursor: pointer;
        width: 10%;
        text-align: center;
        padding: 20px 0;
    }

    /* 右边栏 */
    .side-section{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    .side-section div{
        width: 49%;
        border-top: 4px solid #1a1a1a;
        padding: 20px 0 70px 0;
    }
    .side-section div:first-child{
        width: 100%;
        border-top: 4px solid #1a1a1a;
        padding: 20px 0 70px 0;
    }
    .side-section ul{
        list-style-position: inside;
        margin-top: 20px;
    }
    .side-section ul li{
        list-style-position: inside;
        margin-top: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: .8em;
    }
    .side-section a{
        color: #6791ee;
        text-decoration: none;
    }
    
    /* 侧边栏搜索框 */
    .side-section .input-search{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-search input{
        display: block;
        padding: 7px 6px;
        border: 1px #cbcbcb solid;
        width: 100%;
        height: 20px;
    }
    .input-search img{
        display: block;
        width: 24px;
        background-color: #fff;
        padding: 12px;
    }
}
/* phone */
@media screen and (max-width: 767px) {
    .wrap{
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
    }
    /* 内容模块 */
    .content{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    /* 搜索结果 */
    .search-section{
        width: 0;
        overflow: hidden;
    }
    /* 文章列表 */
    .list-section{
        list-style: none;
        width: 100%;
    }
    .list-item{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 60px 0;
        /* border-top: 3px dashed rgba(0,0,0,.4); */
    }
    .list-item h2{
        width: 100%;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .list-item h2:hover{
        cursor: pointer;
        color: #006fc5;
    }
    .list-item .options{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #686868;
        padding: 0 0 2vw;
    }
    .list-item .options a{
        margin-top: 1vw;
        font-size: 13px;
        color: #686868;
        text-decoration: none;
    }
    .list-item .options a::before{
        content: '/';
        padding: 0 5px;
    }
    .list-item .options a:first-child::before{
        content: '';
        padding: 0;
    }
    .list-item .options a:hover{
        cursor: pointer;
        color: #94daf3;
        text-decoration: underline;
    }
    .list-item .list-item-content{
        line-height: 1.75;
        min-height: 10vw;
        font-size: 16px;
        font-weight: 100;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        overflow: hidden;
    }
    .page-control{
        padding: 0;
    }
    /* 分页 */
    .page-control{
        padding: 0;
    }
    .page-control .pages{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .page-control li{
        width: 10%;
        text-align: center;
        padding: 20px 0;
        opacity: .6;
    }
    .page-control li:hover{
        cursor: pointer;
        opacity: 1;
        box-shadow: 0 5px 1px #999;
    }
    .page-control li .on{
        cursor: pointer;
        width: 10%;
        text-align: center;
        padding: 20px 0;
    }

    /* 右边栏 */
    .side-section{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    .side-section div{
        width: 100%;
        border-top: 4px solid #1a1a1a;
        padding: 20px 0 70px 0;
    }
    .side-section ul{
        list-style-position: inside;
        margin-top: 20px;
    }
    .side-section ul li{
        list-style-position: inside;
        margin-top: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: .8em;
    }
    .side-section a{
        color: #6791ee;
        text-decoration: none;
    }
    
    /* 侧边栏搜索框 */
    .side-section .input-search{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-search input{
        display: block;
        padding: 7px 6px;
        border: 1px #cbcbcb solid;
        width: 100%;
        height: 20px;
    }
    .input-search img{
        display: block;
        width: 24px;
        background-color: #fff;
        padding: 12px;
    }
}